services:
  mongo:
    image: mongo:7
    container_name: pf-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: pf-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  mongo_data:
